body{
    background-image: url(images/background-image.jpg);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    background-size: cover;
}

fieldset{
    width: 50vw;
    height: 80vh;
    margin-left: 25vw;
    background-color: black;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    opacity: 90%;
}
#title{
    color: aquamarine;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
#end{
    margin-top: 100px;
}